<PageTitle>Login</PageTitle>

<div style="display: grid; margin: auto">
    <form method="post" action="@WebAppExtensions.LoginApiUrl">
        <div class="interface interface-dialog">
            <AntiforgeryToken />
            <div class="interface-dialog-title">Server administration</div>
            <input type="password" name="password" />
            <button type="submit" class="button-green">Sign in</button>
            @if (LoginFail != null)
            {
                <div class="interface-text color-red login-failed">Login failed</div>
            }
        </div>
    </form>
</div>

@code
{
    [SupplyParameterFromQuery]
    private string? LoginFail { get; init; }
}
