<div style="display: grid; margin: auto">
    <div class="interface">
        <form method="post" action="@WebAppExtensions.LoginApiUrl">
            <AntiforgeryToken />
            <input type="password" name="password" />
            <button type="submit">Sign in</button>
        </form>
    </div>
</div>

@if (LoginFail != null)
{
    <div>Login failed</div>
}

@code
{
    [SupplyParameterFromQuery]
    public string? LoginFail { get; set; }
}
