@using Archean.App.WebApp.Extensions
<div class="interface navbar">
    <div class="navbar-items">

        <NavLink href="/" Match="NavLinkMatch.All">
            <button>Home</button>
        </NavLink>

        <NavLink href="/chat">
            <button>Chat</button>
        </NavLink>

        <NavLink href="/players">
            <button>Players</button>
        </NavLink>

        <NavLink href="/worlds">
            <button>Worlds</button>
        </NavLink>

        <NavLink href="/logs">
            <button>Logs</button>
        </NavLink>

    </div>
    <div class="navbar-items navbar-items-left">
        <form method="post" action="@WebAppAuthenticationExtensions.LogoutApiUrl">
            <button type="submit" class="button-red">Sign out</button>
        </form>
    </div>
</div>
