<div class="interface navbar">
    <div class="navbar-items">
        <div>Nav</div>
        <div>Nav</div>
        <div>Nav</div>
    </div>
    <div class="navbar-items navbar-items-left">
        <form method="post" action="@WebAppExtensions.LogoutApiUrl">
            <button type="submit">Sign out</button>
        </form>
    </div>
</div>
