@page "/chat"
@using Archean.App.WebApp.Services
@inject MemoryLoggerOutput MemoryLoggerOutput

<PageTitle>Chat - Archean</PageTitle>

<div class="interface" style="overflow: hidden">
    <div class="interface-title">Chat</div>
    <div class="interface-indentation" style="background-color: #000; gap: var(--spacing); padding: var(--spacing); overflow: scroll; flex-grow: 1; color: #fff; font-size: 14px">
        @foreach (string message in MemoryLoggerOutput.Messages)
        {
            <div>@message</div>
        }
    </div>
    <div style="display: flex">
        <input type="text" style="flex-grow: 1" />
        <button>Send message</button>
    </div>
</div>

@code
{

}
