@page "/chat"

<PageTitle>Chat - Archean</PageTitle>

<div class="interface" style="overflow: hidden">
    <div class="interface-title">Chat</div>
    <div class="interface-indentation" style="background-color: #000; gap: var(--spacing); padding: var(--spacing); overflow: scroll; flex-grow: 1; color: #fff; font-size: 14px">
        @for (int i = 0; i < 20; i++)
        {
            TimeOnly time = new TimeOnly(11, 53, 29).Add(TimeSpan.FromSeconds(i * -15));

            <div style="display: flex">
                <span>[</span>
                <span>@(time.ToString("HH\\:mm\\:ss"))</span>
                <span>]</span>
                <span>&nbsp;</span>
                <span>&lt</span>
                <span>@(i % 2 == 0 ? "PlayerA" : "PlayerB")</span>
                <span>&gt</span>
                <span>&nbsp;</span>
                <span>Hello, world!</span>
            </div>
        }
    </div>
    <div style="display: flex">
        <input type="text" style="flex-grow: 1" />
        <button>Send message</button>
    </div>
</div>

@code
{

}
