@page "/"

<PageTitle>Home</PageTitle>

<div class="interface">
    <h3>Home</h3>

    <div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 8px">

        <button>Regular</button>
        <button class="button-red">Red</button>
        <button class="button-yellow">Yellow</button>
        <button class="button-green">Green</button>
        <button class="button-blue">Blue</button>
        <button class="button-purple">Purple</button>

        <button disabled>Regular</button>
        <button class="button-red" disabled>Red</button>
        <button class="button-yellow" disabled>Yellow</button>
        <button class="button-green" disabled>Green</button>
        <button class="button-blue" disabled>Blue</button>
        <button class="button-purple" disabled>Purple</button>

    </div>
</div>

@code
{

}
