@page "/"

<PageTitle>Home - Archean</PageTitle>

<div class="interface">
    <div class="interface-title">Home</div>

    <div style="display: grid; grid-template-columns: repeat(6, 1fr); gap: 8px">

        <button>Regular</button>
        <button class="button-red">Red</button>
        <button class="button-yellow">Yellow</button>
        <button class="button-green">Green</button>
        <button class="button-blue">Blue</button>
        <button class="button-purple">Purple</button>

        <button disabled>Regular</button>
        <button class="button-red" disabled>Red</button>
        <button class="button-yellow" disabled>Yellow</button>
        <button class="button-green" disabled>Green</button>
        <button class="button-blue" disabled>Blue</button>
        <button class="button-purple" disabled>Purple</button>

    </div>
</div>

<div style="display: grid; gap: var(--spacing)">

    <div class="interface interface-gray" style="display: grid">
        <div class="interface-indentation">
            <div class="interface">
                <PlayerFace Username="Placeholder" />
            </div>
            <div class="interface">
                <PlayerFace Username="Placeholder" />
            </div>
            <div class="interface">
                <PlayerFace Username="Placeholder" />
            </div>
        </div>
    </div>

    <div class="interface interface-red" style="display: grid">
        <div class="interface-indentation">
        </div>
    </div>

    <div class="interface interface-yellow" style="display: grid">
        <div class="interface-indentation">
        </div>
    </div>

    <div class="interface interface-green" style="display: grid">
        <div class="interface-indentation">
        </div>
    </div>

    <div class="interface interface-blue" style="display: grid">
        <div class="interface-indentation">
        </div>
    </div>

    <div class="interface interface-purple" style="display: grid">
        <div class="interface-indentation">
        </div>
    </div>

</div>

@code
{

}
