@page "/logs"
@using Archean.App.WebApp.Services
@inject MemoryLoggerOutput MemoryLoggerOutput
@implements IDisposable

<PageTitle>Logs - Archean</PageTitle>

<InterfacePanel Title="Logs">
    <Controls>
        <button @onclick="ClearHistory">Clear history</button>
    </Controls>
    <ChildContent>
        <ScrollableInterfaceIndentation>
            @foreach (string message in MemoryLoggerOutput.Messages)
            {
                <div class="message-line">@message</div>
            }
        </ScrollableInterfaceIndentation>
    </ChildContent>
</InterfacePanel>

@code
{
    protected override void OnInitialized()
    {
        MemoryLoggerOutput.SubscribeListener(OnLoggerEntryAsync);
    }

    private async Task OnLoggerEntryAsync()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void ClearHistory()
    {
        MemoryLoggerOutput.Clear();
    }

    public void Dispose()
    {
        MemoryLoggerOutput.UnsubscribeListener(OnLoggerEntryAsync);
    }
}
