@page "/players"

<PageTitle>Players</PageTitle>

<div class="interface" style="overflow: hidden">
    <div class="interface-title">Players</div>
    <div class="interface-indentation" style="gap: var(--spacing); padding: var(--spacing); overflow: scroll">
</div>

@code
{

}
