@page "/worlds"

<PageTitle>Worlds - Archean</PageTitle>

<InterfacePanel Title="Worlds">
    <Controls>
        <button class="button-green">Create world</button>
    </Controls>
    <ChildContent>
        <ScrollableInterfaceIndentation>

        </ScrollableInterfaceIndentation>
    </ChildContent>
</InterfacePanel>

@code
{

}
