@page "/worlds"

<PageTitle>Worlds - Archean</PageTitle>

<InterfacePanel Title="Worlds">
    <Controls>
        <button class="button-green" @onclick="@(() => ShowCreateNewDialog = true)">Create world</button>
    </Controls>
    <ChildContent>
        <ScrollableInterfaceIndentation>

        </ScrollableInterfaceIndentation>
    </ChildContent>
</InterfacePanel>

<Dialog Title="Create new world" IsOpen="ShowCreateNewDialog">
    <div style="display: grid; grid-auto-flow: column; grid-auto-columns: 1fr; gap: var(--spacing)">
        <button class="button-green" @onclick="@(() => ShowCreateNewDialog = false)">Create</button>
        <button class="button-red" @onclick="@(() => ShowCreateNewDialog = false)">Cancel</button>
    </div>
</Dialog>

@code
{
    public bool ShowCreateNewDialog { get; set; }
}
