:root
{
    --color-light: #c6c6c6;
    --color-gray: #717171;
    --color-red: #d64747;
    --color-yellow: #979720;
    --color-green: #56ab56;
    --color-blue: #1c53a8;
    --color-purple: #6b23b1;
    --color-text: #000e;
    --spacing: 8px;
    font-family: monospace;
}

html, body
{
    margin: 0;
    padding: 0;
}

body
{
    --color-grass: #64a140;
    --color-sky: #a9d4ff;
    --color-dirt: #7b5b41;
    background: linear-gradient(180deg, var(--color-sky) 0, var(--color-sky) 128px, var(--color-grass) 128px, var(--color-grass) 192px, var(--color-dirt) 192px, var(--color-dirt) 100%);
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
}

a
{
    text-decoration: none;
}

.page-container
{
    flex-grow: 1;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: calc(var(--spacing) * 4);
    gap: var(--spacing);
}

main
{
    flex-grow: 1;
    display: grid;
    gap: var(--spacing);
    overflow: hidden;
}

.interface
{
    border: 1px solid #000;
    box-shadow: inset 1px 1px #fff8, inset -1px -1px #0008, 4px 4px 8px #0004;
    border-radius: 5px;
    background-color: color-mix(in srgb, var(--color-light), var(--interface-color, var(--color-light)) 50%);
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    gap: var(--spacing);
}

.interface-gray
{
    --interface-color: var(--color-light);
}

.interface-red
{
    --interface-color: var(--color-red);
}

.interface-yellow
{
    --interface-color: var(--color-yellow);
}

.interface-green
{
    --interface-color: var(--color-green);
}

.interface-blue
{
    --interface-color: var(--color-blue);
}

.interface-purple
{
    --interface-color: var(--color-purple);
}

.interface-indentation
{
    padding: 4px;
    background-color: #0008;
    border: 1px solid #000;
    box-shadow: inset 1px 1px #0008,
                inset -1px -1px #fff4;
    
    display: flex;
    flex-direction: column;
}

.interface-title
{
    color: var(--color-text);
    font-size: 20px;
    font-weight: bold;
}

.interface-text
{
    color: var(--color-text);
    font-size: 16px;
    font-weight: bold;
}

.interface-dialog
{
    min-width: 500px;
    padding: calc(var(--spacing) * 2);
}

.interface-dialog-title
{
    color: var(--color-text);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

button, input[type="button"], input[type="submit"]
{
    color: #e8e8e8;
    background-color: var(--button-color, var(--color-gray));
    font-size: 18px;
    padding: 0.3em 1em;
    box-shadow: inset 1px 1px #fff8, inset -1px -1px #0008;
    border: 1px solid #000;
    text-shadow: 1px 1px #000a;
    cursor: pointer;
    &:hover
    {
        background-color: hsl(from var(--button-color, #c6cae3) h s calc(l * 0.7));
    }

    &:disabled, a.active &
    {
        color: #a0a0a0;
        background-color: hsl(from var(--button-color, var(--color-gray)) h s calc(l * 0.4));
        box-shadow: none;
        cursor: initial;
    }
}

.button-red
{
    --button-color: var(--color-red);
}

.button-yellow
{
    --button-color: var(--color-yellow);
}

.button-green
{
    --button-color: var(--color-green);
}

.button-blue
{
    --button-color: var(--color-blue);
}

.button-purple
{
    --button-color: var(--color-purple);
}

.text-red
{
    color: var(--color-red);
}

.text-yellow
{
    color: var(--color-yellow);
}

.text-green
{
    color: var(--color-green);
}

.text-blue
{
    color: var(--color-blue);
}

.text-purple
{
    color: var(--color-purple);
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"]
{
    background-color: #000;
    color: #fff;
    padding: 6px;
    font-size: 18px;
    box-shadow: inset 2px 2px #0008, inset -2px -2px #fff4;
}
