@inherits LayoutComponentBase

<div class="page-container">
    @if (ShowNavigation)
    {
        <header>
            <NavBar />
        </header>
    }
   <main>
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code
{
    /// <summary>
    /// Determines if the navigation bar should be rendered.
    /// </summary>
    public virtual bool ShowNavigation { get; } = true;
}
